# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtualenv
venv/
ENV/
env/
.venv/

# Editor directories and files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Logs
*.log

# Misc
*.sqlite3
.env
*.dump
import/
